/* stylelint-disable selector-max-type */
html,
body {
  font-size: $sf-font-size;
  margin: 20px;
  padding: 0;
  * {
    outline: none;
  }
}

a {
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.ct-tag-input {
  .ct-tag-input__input-error,
  .el-form {
    + .ct-tag-input__tag {
      margin-top: 10px;
    }
  }
}

/* stylelint-enable selector-max-type */
